.caixa {
    background-color: gray;
}

.link {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: #f2f2f2;
    padding: 32px;
}
img {
    height: 300px; 
    width: 15px
}