
header{
    background-color: #00939c;
    height: 125px;
    text-align: center;
    color: #502000;
}

img{
    width: 500px;
}

h2{
    color: #502000;
    text-align: center;
}

h3{
    color: #9C3E00;
}
